h1{
    font-size: 60px;
    color: blue;
}

.quiz{
    color: red;
    text-align: center;
    font-size: 70px;
    padding-top: 250px;
}

.a{
    text-align: center;
}

.yes{
    font-size: 100px;
}

.no{
    font-size: 100px;
}

h4{
    padding-top: 450px;
}